/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/components/NotFound/index.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.NotFound_not__KXpBJ {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.NotFound_not__title__51qHS {
  font-size: 106px;
}
.NotFound_not__text__yI4Gc {
  font-size: 56px;
}
.NotFound_not__btn__QemLU {
  margin-top: 30px;
  padding: 20px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 30px;
  transition: 1s;
}
.NotFound_not__btn__QemLU:hover {
  background-color: rgb(90, 90, 190);
  color: #fff;
}
