/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/components/Header/index.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__8NK66 {
  width: 100%;
  background-color: rgb(212, 201, 188);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  transition: 1s;
}
.Header_header__content__Ob7JO {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.Header_header__search__0FI8l {
  max-width: 700px;
  width: 100%;
  display: flex;
}

.Header_header-dark__fpLvO {
  background-color: rgb(43, 41, 41);
}

.Header_search__bar__bxNxO {
  width: 100%;
  padding: 5px 10px;
}

.Header_search__btn___OI2W {
  padding: 5px;
  transition: 1s;
  cursor: pointer;
}

.Header_search__btn___OI2W:hover {
  background-color: rgb(90, 90, 190);
  color: #fff;
}

.Header_redirect__btn__84x5F {
  cursor: pointer;
  padding: 7px;
  margin-left: 10px;
  transition: 1s;
}

.Header_redirect__btn__84x5F:hover {
  background-color: rgb(90, 90, 190);
  color: #fff;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/components/ThemeButton/index.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ThemeButton_theme__button___wiXJ {
  cursor: pointer;
  padding: 7px;
  margin-left: 10px;
  transition: 1s;
}

.ThemeButton_theme__button___wiXJ:hover {
  background-color: rgb(90, 90, 190);
  color: #fff;
}
